/* Body Backgrounds */
body {
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 38%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 38%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 38%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);   
}

/* Cahs In Process Background */
.process-bg {
    background-image: url("../imgs/cashIn.gif");
    background-position: center;
    background-size: cover;
}

/* Cash Out Process Background */
.cashout-process-bg{
    background-image: url("../imgs/cashOut.gif");
    background-position: center;
    background-size: cover;
}


/* Transfer Process Background */
.transfer-process-bg{
    background-image: url("../imgs/transfer.gif");
    background-position: center;
    background-size: cover;
}

/*  billing-process-bg */
.billing-process-bg{
    background-image: url("../imgs/bill.gif");
    background-position: center;
    background-size: cover;
}